* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #011627;
  color: #FDFFFC;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 4rem;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: .2rem;
}

h2 {
  font-size: 3.4rem;
  font-family: "montserrat", sans-serif;
  letter-spacing: .2rem;
}

h3 {
  font-size: 2.8rem;
  font-family: "montserrat", sans-serif;
  letter-spacing: .2rem;
}

h4 {
  font-size: 2rem;
  font-family: "montserrat", sans-serif;
  font-weight: lighter;
}

h5 {
  font-size: 2.4rem;
  font-family: "source sans pro", sans-serif;
  line-height: 3rem;
}

p, a, li {
  font-size: 2rem;
  font-family: "source sans pro", sans-serif;
  line-height: 2.2rem;
}

.center {
  display: flex;
  justify-content: center;
}

.center-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-background {
  position: relative;
  text-align: center;
}

.centerli {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fullscrn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  margin: auto 2rem;
}

.halfscrn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40rem;
  margin: auto 2rem;
}

.long-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 2rem;
}

.light {
  color: #FDFFFC;
}

.dark {
  color: #011627;
}

.botmargsml {
  margin-bottom: 1rem;
}

.botmarglrg {
  margin-bottom: 6rem;
}

.topmarglrg {
  margin-top: 6rem;
}

.margins {
  margin: 6rem 2rem;
}

.topnbotmarg {
  margin: 6rem auto;
}

.halfscrntop {
  margin-top: 40rem;
}

.halfscrnbot {
  margin-bottom: 50vh;
}

/* Bounce animation for icons*/
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

header {
  background-color: #011627;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8.8rem;
}

.my-logo {
  cursor: pointer;
  margin-left: 3rem;
  transition: 1s;
}

.my-logo:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.menu {
  display: block;
  cursor: pointer;
  margin-right: 3rem;
}

.menu:hover .line1 {
  width: 2.6rem;
}

.menu:hover .line2 {
  width: 2.6rem;
}

.menu:hover .line3 {
  width: 2.6rem;
}

.menu div {
  background-color: #FDFFFC;
  border-radius: .1rem;
  height: .2rem;
  margin: .7rem 0;
  transition: all 0.4s ease;
}

.line1 {
  width: 2.6rem;
}

.line2 {
  width: 1.4rem;
}

.line3 {
  width: 2rem;
}

.menu-items {
  background-color: #011627;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  right: 0rem;
  top: 8.8rem;
  height: 60%;
  width: 100%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}

.menu-items li {
  list-style: none;
  opacity: 0;
}


.menu-items a {
  color: #FDFFFC;
  font-size: 2.4rem;
  letter-spacing: .2rem;
  text-decoration: none;
}

.menu-items li a::after {
  position: absolute;
  background: #FDFFFC;
  content: '';
  width: 100%;
  height: .2rem;
  top: 100%;
  left: 0;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}

.menu-items li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.menu-active {
  transform: translateX(0%);
}

@keyframes menuItemFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  width: 2.5rem;
  transform: rotate(-45deg) translate(-5px, 6px);
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  width: 2.5rem;
  transform: rotate(45deg) translate(-6px, -7px);
  -webkit-transform: rotate(45deg) translate(-6px, -7px);
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.intro h1 {
  margin-bottom: .8rem;
}

.Decantr {
  background-image: linear-gradient(#500C60, #9A031E);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.Decantr1 {
  width: 24rem;
}

.Decantr1:hover {
  filter: drop-shadow(6rem 6rem 6rem rgba(0, 0, 0, 0.4));
}

.Decantr2 {
  display: none;
}

.Decantr3 {
  display: none;
}

.SkySaves {
  background-color: #FDFFFC;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.SkySaves1 {
  width: 30rem;
}

.SkySaves1:hover {
  filter: drop-shadow(6rem 6rem 6rem rgba(0, 0, 0, 0.4));
}

.BusyBus {
  background-color: #D0DCE5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.BusyBus1 {
  width: 24rem;
}

.BusyBus1:hover {
  filter: drop-shadow(6rem 6rem 6rem rgba(0, 0, 0, 0.4));
}

.MiniProjects {
  background-color: #2EC4B6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.MiniProjects1 {
  width: 100%;
}

.MiniProjects1:hover {
  box-shadow: 6rem 6rem 6rem rgba(0, 0, 0, 0.25);
}

.Dribbble {
  display: flex;
  justify-content: center;
  margin: 10rem auto;
}

.Dribbble a {
  color: #EA4C89;
  text-decoration: none;
}

.Dribbble a:hover {
  text-decoration: underline;
}

.footmedia {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3rem;
}

.footmedia li:hover {
  animation: bounce 1s 1;
  color: #2EC4B6;
}

/* About Me Page */
.aboutpage {
  background-color: #FDFFFC;
  padding-top: 16rem;
}

.aboutme {
  color: #011627;
  padding: 6rem 3rem 10rem;
}

.hike {
  border: 1rem solid #2EC4B6;
  border-radius: .5rem;
}

/* Contact Page */
.contactpage {
  background-color: #FDFFFC;
  color: #011627;
  padding-top: 16rem;
  height: 100vh;
  width: 100vw;
}

.contact-input {
  border-style: none;
  border-bottom: .2rem solid #818181;
  font-size: 2.4rem;
  font-family: "source sans pro", serif;
  margin-bottom: 3rem;
  width: 75vw;
  max-width: 60rem;
}

.contact-input:hover {
  border-style: none;
  border-bottom: .2rem solid #011627;
}

.contact-send {
  background-color: #2EC4B6;
  border: none;
  border-radius: .5rem;
  color: #FDFFFC;
  cursor: pointer;
  font-family: "source sans pro", sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  margin-top: 3rem;
  padding: 1rem 5rem;
}

.contact-send:hover {
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
  font-weight: 600;
}

/* Project Pages */
.project-page {
  background-color: #FDFFFC;
  color: #011627;
  display: flex;
  flex-direction: column;
}

#backToTop {
  display: none;
  position: fixed;
  bottom: 9.5rem;
  right: 0;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #011627;
  color: #FDFFFC;
  cursor: pointer;
  padding: 1.5rem;
  border-radius: .5rem;
  font-size: 1.2rem;
}

#backToTop:hover {
  background-color: #2EC4B6;
  box-shadow: 0 1rem 1rem .5rem rgba(0,0,0,0.2);
}

.process-line {
  height: .2rem;
  width: 30rem;
}

.background-pics {
  filter: brightness(50%);
  overflow: hidden;
  height: auto;
  max-width: 100rem;
}

.iterations {
  margin: 6rem 1rem;
  max-width: 95%;
}

.iterations:hover {
  box-shadow: 0 0 6rem rgba(0, 0, 0, 0.25);
}

.project-btn {
  background-color: #2EC4B6;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  height: 4.6rem;
  padding: 1rem 4rem;
  text-decoration: none;
}

.project-btn:hover {
  box-shadow: 0 0 6rem rgba(0, 0, 0, 0.25);
  font-weight: 600;
}

.Project-pics {
  overflow: hidden;
  height: auto;
  width: 100%;
  max-height: 100%;
  max-width: 100rem;
}

.Project-list {
  list-style: circle inside;
}

.Project-example {
  display: flex;
  align-items: center;
  margin: 6rem auto;
  width: 100%;
  max-width: 80rem;
}

.Project-example:hover {
  box-shadow: 0 0 6rem rgba(0, 0, 0, 0.25);
}

.mockup {
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
}

/* Decantr */
.Decantr-logo {
  display: flex;
  align-items: center;
  height: 30rem;
}

.Decantr-button {
  background-color: #9A031E;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  height: 4.6rem;
  padding: 1rem 4rem;
  text-decoration: none;
}

.Decantr-button:hover {
  background-image: linear-gradient(to right, #9A031E, #500C60);
  box-shadow: 0 1rem 1rem 0 rgba(0,0,0,0.2);
}

.Decantr-background {
  background-image: linear-gradient(#9A031E, #500C60);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.user-story-chart {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  border-collapse: collapse;
  width: 100%;
}

.user-story-chart td, .user-story-chart th {
  border: .1rem solid #ddd;
  padding: .8rem;
}

.user-story-chart tr:nth-child(even){background-color: #f2f2f2;}

.user-story-chart tr:hover {background-color: #ddd;}

.user-story-chart th {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  text-align: left;
  color: #fff;
}

.Decantr-chart-color th{
  background-image: linear-gradient(#500C60, #9A031E);
}

.Decantr-style-guide {
  margin-bottom:
}

/* Sky Saves: */
.SkySaves-logo {
  background-color: #689F2D;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30rem;
  width: 100%
}

.project-intro {
  display: flex;
  align-items: center;
  height: 40rem;
  margin: auto 3rem;
}

.SkySaves-background {
  background-color: #689F2D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.SkySaves-chart-color th {
  background-color: #689F2D;
}

.SkySaves-btn {
  background-color: #689F2D;
  border-radius: 5px;
  color: #ffffff;
  height: 4.6rem;
  padding: 1rem 5rem;
  margin: 0 auto 6rem;
  text-align: center;
  text-decoration: none;
}

.SkySaves-btn:hover {
  background-color: #37474F;
  box-shadow: 0 0 6rem rgba(0,0,0,0.2);
  color: #fff;
}

.center-pad {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

/* Busy Bus */
.Busybus {
  background-color: #145180;
}

.BusyBus-background {
  background-color: #145180;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.BusyBus-btn {
  background-color: #145180;
  border-radius: 5px;
  color: #fff;
  height: 4.6rem;
  padding: 1rem 4rem;
  margin: 0 auto 6rem;
  text-align: center;
  text-decoration: none;
}

.BusyBus-btn:hover {
  background-color: #011E35;
  box-shadow: 0 0 6rem rgba(0,0,0,0.25);
}

.BusyBus-logo {
  color: #011E35;
  font-size: 5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30rem;
}

.BusyBus-chart-color th{
  background-color: #145180;
}

/* Mini Projects */
.cl-background {
  background-color: #551A8B;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.photo-cred {
  font-size: 1.2rem;
  position: absolute;
  right: 1rem;
}

.q-projects-button {
  background-color: #893168;
  border-radius: 5px;
  color: #fff;
  height: 4.6rem;
  padding: 1rem 4rem;
  text-decoration: none;
}

.q-projects-button:hover {
  background-color: #772B5A;
  box-shadow: 0 0 6rem rgba(0,0,0,0.25);
}

.q-projects-header {
  color: #011627;
  font-size: 4rem;
  font-weight: bold;
  padding-top: 6rem;
}

.fun-fact {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 2.6rem;
}

.q-project-photos {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: auto;
  width: 100%;
}

/* For Tablets: */
@media only screen and (min-width: 600px) {
  p, li {
    max-width: 50rem;
  }

  .Decantr {
    justify-content: space-around;
  }

  .Decantr1, .BusyBus1 {
    width: 30rem;
  }

  .order1 {
    order: 1;
  }

  .order2 {
    order: 2;
  }

  .Decantr2 {
    display: flex;
    position: relative;
    bottom: -60rem;
    width: 30rem;
  }

  .project-intro {
    max-width: 64rem;
  }

  .SkySaves1, .MiniProjects1 {
    width: 50rem;
  }
}

/* For About desktop: */
@media only screen and (min-width: 900px) {
  header {
  margin: 0 6rem;
}

.menu {
  display: none;
}

.menu-items {
  flex-direction: row;
  height: auto;
  right: 6rem;
  top: auto;
  width: 40rem;
  transform: translateX(0%);
}

.menu-items li {
  opacity: 1;
  position: relative;
}

  .order3 {
    order: 3;
  }

  .Decantr3 {
    display: flex;
    position: relative;
    top: -60rem;
    width: 30rem;
  }

  .MiniProjects1 {
    width: 70rem;
  }

  p, li {
    max-width: 60rem;
  }

  .process-line {
    width: 36rem;
  }

}

@media only screen and (min-width: 1440px) {
  header {
    margin: 0 12rem;
  }

  .menu-items {
    right: 12rem;
  }

  footer {
    display: flex;
    justify-content: center;
  }

  .footmedia {
    width: 100rem;
  }
}
